# --- Telegram ---
BOT_TOKEN=8775322755:AAEmlJc79xgHPdEnwU95-unfY0X3F9Ifdt4
BOT_USERNAME=@testjswndjwnjwd_bot
MINIAPP_URL=https://your-domain.com/miniapp
ADMIN_IDS=910138930

# --- Database ---
DATABASE_URL=postgresql+asyncpg://predictbet:strongpassword@localhost:5432/predictbet
REDIS_URL=redis://localhost:6379/0

# --- API ---
API_HOST=0.0.0.0
API_PORT=8000
API_SECRET_KEY=changeMeToRandomLongString

# --- ЮKassa (карты, СБП) ---
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key

# --- USDT (TON Connect) ---
TON_API_KEY=your_tonapi_key
USDT_WALLET_ADDRESS=UQDYour_USDT_TON_WalletAddress
USDT_JETTON_MASTER=EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs

# --- Платформа ---
PLATFORM_FEE_PERCENT=2.0
INITIAL_LIQUIDITY=10000
MIN_DEPOSIT_RUB=100
MIN_DEPOSIT_USDT=1
SUPPORT_USERNAME=support_username
